@{
    Layout = "_Layout";
}

<div class="container">
    <img src="~/images/logo.png" class="float-right" width="200" height="100" />
</div>

<div class="after-logo">
    @RenderBody()
</div>